/* CSS */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Estilo para las imágenes en el carrusel */
.carousel-img {
    width: 50%;
    height: 400px; /* Ajustar según sea necesario */
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto; /* Centrar horizontalmente */
}

.img-1 {
    background-image: url('img/OOT.jpg');
}

.img-2 {
    background-image: url('img/Analisis-matematico.jpg');
}

.img-3 {
    background-image: url('img/pipi.jpg');
}

.img-4 {
    background-image: url('https://via.placeholder.com/1200x400');
}

/* Estilo para las imágenes dentro de las tarjetas */
.card-img {
    width: 100%;
    height: 200px; /* Ajustar según sea necesario */
}

.header {
    background-color: #87c694;
    color: white;
    padding: 60px 0;
}

.custom-img {       
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #f1f1f1;
    color: #6c757d;
}

h1, h2, h5 {    
    color: #4a7c59;
}

p, li {
    color: #333;
}

.navbar-brand, .nav-link {
    color: #4a7c59 !important;
}

.card-title {
    color: #4a7c59;
}

.card-body {
    background-color: #e6f3e6;
}

.card-text ul {
    padding-left: 20px;
}

.card-text ul li {
    list-style-type: disc;
}

/* Estilo para las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black; /* Color de las flechas */
}
